.hero-container{
    width: 90%;
    margin: 0px auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.hero{
    width: 100%;
    height: 80vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.hero-text{
    width: 48%;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.job-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 400; 
  color: white; 
}

.hero-text h1{
    font-size: 65px;
    font-weight: 600;
    line-height: 65px;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;

}

.hero-text h1 span{
    color: #00ff99;
}

.hero-text p{
   font-size: 16px;
   line-height: 32px;
   font-weight: 400; 
   color: white;
}

.hero-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

}

.hero-buttons button{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #00ff99;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.socials{
    display: flex;
    align-items: center;
    gap: 30px;
}

.socials img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #00ff99;
    cursor: pointer;
    padding: 5px;
}

.socials img:hover{
   scale: 1.03;
}

.hero-image{
    width: 48%;
    display: flex;
    align-items: start;
    justify-content: end;
    position: relative;
    
}

.image-container{
    width: 550px;
    height: 550px;
}

.hero-image img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    padding: 10px;
    border-radius: 50%;
}

.hero-numbers{
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-number{
    width: 20%;
    display: flex;
    align-items: center;
    gap: 5px;

}
.hero-number{
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    color: white;
}

.number-text{
    font-size: 16px;
    font-weight: 300px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 20px;
}
.spinner-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  animation: spin 20s linear infinite; 
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}