.photo-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-image-container {
    position: absolute;
    right: 18%;
    bottom: 22%;
    height: 100%;
    width: 100%;


}

.photo-image-container img {
    width: 120%;
    height: 120%;
    object-fit: contain;
}



.photo-svg {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 20;
}

/* Responsive sizes for larger screens */

@media screen and (max-width:768px) {
       .photo-image-container {
    position: absolute;
    right: 0;
    bottom: 4%;
    height: 100%;
    width: 100%;


}

.photo-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

}





@media (min-width: 960px) {
    .photo-image-container {
        width: 350px;
        height: 350px;
    }

    .photo-svg {
        width: 400px;
        height: 400px;
    }
 
}

@media (min-width: 1200px) {
    .photo-image-container {
        width: 400px;
        height: 400px;
    }

    .photo-svg {
        width: 506px;
        height: 506px;
    }
}