.resume{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.side-bar{
    width:35% ;
}

.content{
    width: 60%;
}

.side-bar-button{
    width: 90%;
    margin: auto;
    height: 50px;
    border-radius: 10px;
    background: #27272C;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.active-button{
    width: 90%;
    margin: auto;
    height: 50px;
    border-radius: 10px;
    background: #00ff99;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.title{
   font-size: 36px;
   font-weight: 700;
   line-height: 40px;
   color: white;

}
.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about p{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.6);
}
.details{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail{
    width: 50%;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 30px;
     font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.detail span{
    color: white;
    font-size: 18px;
}

.stacks{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stack{
    width: 23%;
    height: 150px;
    background: #27272C;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}
.stack img{
    width:40% ;
}

@media screen and (max-width:758px) {
    .resume{
        flex-direction: column;
    }
    .side-bar, .content{
        width: 100%;
    }
}