.header{
    width: 90%;
    margin: 0px auto;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.logo {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    color: white;
}

.logo a{
    text-decoration: none;
    color: white;
}

.logo span{
   color: #00FF99;
}

.desktop-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.menu-links{
    display: flex;
}

.menu-links ul{
    display: flex;
    align-items: center;
    gap: 30px;
}


.menu-links a{
    list-style: none;
    color:white;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    cursor: pointer;
    text-decoration: none;
}

.menu-links a:hover{
    color: #00FF99;
}

.active{
    border-bottom: 2px solid #00FF99;
    color: #00FF99;
}

.desktop-menu button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: #00FF99;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
}

.header img{
    display: none;
}

.desktop-menu img{
    display: none;
}

.mobile-menu{
    height: 100vh;
    width: 80%;
    background: #282828;
    padding-top: 8vh;
    display: flex;
    align-items: start;
    padding-left: 50px;
    padding-right: 20px;
    z-index: 50;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 0;
    top: 0;
}


@media screen and (max-width:767px) {
    .desktop-menu{
        display: none;
    }

    .header img, .mobile-menu img{
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .mobile-menu img{
        align-self: flex-end;
    }

    .mobile-menu button{
    display: none;
}

.menu-links{
    display: flex;

}

.menu-links ul{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.menu-links a{
    flex-direction: column;
    font-size: 18px;
}
}