.header{
    width: 90%;
    margin: 0px auto;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    color: white;
}

.logo a{
    text-decoration: none;
    color: white;
}

.logo span{
   color: #00FF99;
}

.desktop-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.menu-links{
    display: flex;
}

.menu-links ul{
    display: flex;
    align-items: center;
    gap: 30px;
}


.menu-links a{
    list-style: none;
    color:white;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    cursor: pointer;
    text-decoration: none;
}

.menu-links a:hover{
    color: #00FF99;
}

.active{
    border-bottom: 2px solid #00FF99;
    color: #00FF99;
}

.desktop-menu button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: #00FF99;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
}