.header{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:aliceblue;
    margin-top: 5px;
    transition: 1s;
}

.scrolled{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:aliceblue;
   
    background-color: blueviolet;
   
    transition: 1s;
}

.logo{
    margin-left: 100px;
    
    
}

.logo img{
    width: 70px;
}

.menu{
    width: 500px;
    margin-right: 100px;

}

.menu ul{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu ul li{
    list-style:none;
    display: inline-flex;
    font-weight: bold;
    padding: 7px;
}

.menu ul li:hover{
    transform: scale(0.9);
   
    transition: 0.5s;
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

 @media(max-width:600px){
    .header{
        position: static;
        height: 10vh;
        background: #212121;
        overflow: hidden;
        margin-top: 0px;
    }

    .logo{
        margin-left: 20px;
    }

    .menu{
        width: 200px;
        position: absolute;
        top: 0;
        right: 0;
        clip-path: circle();
        background: #fff;
        display:none ;
    }
    .scrolled{
        position: static;
        height: 10vh;
        background: #212121;
        overflow: hidden;
        margin-top: 0px;
    }
    
 }