.services{
    width: 100%;
    height: 100vh;
    background:linear-gradient(180deg, #0c0c1d, #111132);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textContainer{
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
    color: gray;
    margin-top: 30px;
    font-size: 14px;
}

.textContainer hr{
    width: 300px;
    border: none;
    background:gray;
    border-top: 0.5px solid gray;
}

.titlecontainer{
    flex: 2;
    display: flex;
    justify-content: center;
}
.titlecontainer h1{
    font-size: 50px;
    font-weight: 10px;
}
.titlecontainer b:hover{
    color: orange;
}

.boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.box{
    width: 300px;
    background:blueviolet;
    color: #f0f8ff;
    padding: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}

.listcontainer .boxes .box:hover{
    transform: scale(1.1);
}
.box h3{
    font-size: 16px;
    color: #000;
}
.unique-box{
    background: #f08f;
}

.listcontainer{
    flex: 2;
    padding-bottom: 30px;
}
.box img{
    width: 35px;
}
.box i{
    font-size: 35px;
}

@media(max-width:600px){
    .services{
        height: fit-content;
    }
    .boxes{
        flex-direction: column;
        gap: 30px;
       
    }
    .titlecontainer h1{
        font-size: 22px;
        margin: 20px 0px;
    }
    .textContainer{
        display: none;
    }
}