@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');




*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
}


body {
  background: #1C1C22;
}

