.work {
  width: 90%;
  height: 80vh;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
}

.project-details-container {
  display: flex;
  justify-content: space-between;
}

.project-details {
  width: 49%;
}

.project-number {
  font-size: 80px;
  font-weight: 700;
  stroke-width: 1px;
  stroke: white;
}

.project-title {
  font-size: 40px;
}

.project-description {
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}


.language li {
  color: #00ff99;
  list-style: none;
}


.project-image {
  width: 49%;
  height: 60vh;
  position: relative;
}

.image-wrapper {
  width: 100%;
  height: 100%;
}

.project-details a {
  text-decoration: none;
  color: white;

}

.live-button {
  margin-top: 20px;
  width: 130px;
  height: 40px;
  border: 1px solid #00ff99;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.navigation-buttons {
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 180px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation-button {
  width: 80px;
  height: 40px;
  background: #00ff99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-button svg {
  fill: white;
}





@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-20%);
    opacity: 0.5;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(20%);
    opacity: 0.5;
  }
}

.animate-slideInFromRight {
  animation: slideInFromRight 0.3s ease-out;
}

.animate-slideInFromLeft {
  animation: slideInFromLeft 0.3s ease-out;
}

.animate-slideOutToLeft {
  animation: slideOutToLeft 0.3s ease-out;
}

.animate-slideOutToRight {
  animation: slideOutToRight 0.3s ease-out;
}